body {
  background-color:  #2666df;
  color: #333;
  font: normal 16px Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.6em;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: #68df26;
  color: #2666df;
  text-align: center;
  font-size: 20px;
  font-weight: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-transform: uppercase;
  font-style: italic;
  height: 90px;
  padding:20px 0;
}

#navbar {
  background-color: #333;
  color: #fff;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  padding-right: 10px;
  font-size: 18px;
  color: #fff;
}



#showcase {
  background-image: url('../images/tienda.jpg');
  margin-bottom: 30px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 600px;
  width: 100%;
  
}


#main {
  background-color: #2666df;
  width: 70%;
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
}

#sidebar {
  width: 30%;
  float: right;
  background: #333;
  color: #fff;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}
#sidebar-historia {
  width: 30%;
  float: right;
  background:#68df26;
  color: #2666df;
  padding: 10px;
  border-radius: 10px;
  box-sizing: border-box;
}


#main-footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  margin-top: 40px;
  margin-bottom: 0;
}

@media(max-width:600px) {
  #main {
    width: 100%;
    float: none;
  }

  #sidebar {
    width: 100%;
    float: none;
  }

  #sidebar-historia {
    width: 100%;
    float: none;
  }
  
  /* #wrapper {
    display:grid;
    grid-template-columns: 100%;
    grid-gap: 1em;

  } */
}
.wrapper > div {
 background-color:#68df26;
 border-radius: 5px;
 
 margin:10px; 
}

.wrapper >div >h4 {
  text-align: center;
  
}
.wrapper >div >p >a {
  
  text-decoration: none;
}
.wrapper {
  
  display:grid;
  /* grid-template-columns: 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
  grid-gap: 1em;
  grid-auto-rows: minmax(100px,auto);
}
a {
  text-decoration: none;
}
