body {
  background-color: #f4f4f4;
  color: #333;
  font: normal 16px Arial, Helvetica, sans-serif;
  margin: 0;
  line-height: 1.6em;
}

.container {
  width: 80%;
  margin: auto;
  overflow: hidden;
}

#main-header {
  background-color: coral;
  color: #fff;
}

#navbar {
  background-color: #333;
  color: #fff;
}

#navbar ul {
  list-style: none;
  padding: 0;
}

#navbar li {
  display: inline;
}

#navbar a {
  text-decoration: none;
  padding-right: 15px;
  font-size: 18px;
  color: #fff;
  
}
#showcase {
  

}


.containero {
  height: 100%;
  width: 100%;
  
  margin:auto;
}
.containero img {
  
  max-width: 100%;
  max-height: 100%;
}
#main{
  width: 70%;
  float: left;
  padding: 0 30px;
  box-sizing: border-box;
}
#sidebar{
  width:30%;
  float: right;
  
  background:#333;
  color:#fff;
  padding:10px;
  box-sizing: border-box;
}